.App {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  font-family: cursive;
  font-size: 30 px;
}

.App2 {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: red;
  margin-top: 120px;
  font-family: fantasy;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgb(172, 242, 246);
  box-shadow: 2px 15px 20px rgb(199, 237, 197);
  height: 150px;
  border-radius: 16px;
  gap: 200px;
  padding-top: 60px;
  text-decoration: none;
  margin-bottom: 20px;
}

.paths {
  background-image: linear-gradient(rgb(223, 249, 175), hwb(60 65% 10%));
  height: 100vh;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 90px;
  margin-left: 40px;
}

.allfroms {
  width: 700px;
  height: 200px;
  margin-left: 430px;
}

.logindetails {
  border: 2px solid lightsalmon;
  border-radius: 20px;
  width: 200px;
  height: 80px;
  margin-top: 0;
  box-shadow: 4px 4px salmon;
}

.margin {
  margin-left: 490px;
}
